name: .NET Unit test

on:
  push:
    branches: [ "master" ]
  pull_request:

concurrency: 
  group: ${{ github.workflow }}
  cancel-in-progress: true
  
jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 7.0.x

    - name: Build
      run: dotnet build --no-restore --verbosity normal

    - name: Test
      run: dotnet test --no-restore --verbosity normal
